@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

q {
  color: gray;
  font-style: italic;
  margin-bottom: 4px;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32pt;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 26pt;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22pt;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

.ql-indent-1 {
  margin-left: 1em;
}
.ql-indent-2 {
  margin-left: 2em;
}
.ql-indent-3 {
  margin-left: 3em;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(9deg 84% 45%) 0%,
    hsl(9deg 84% 45%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(244, 93%, 32%)61%,
    hsl(244, 93%, 32%) 74%,
    hsl(244, 93%, 32%) 100%
  );
  filter: blur(190px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #d42e12 0%,
    #ffffff 53.65%,
    #10069f 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #10069f;
  filter: blur(290px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: "#10069F";
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}
